# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [ ]:
print("Data","Science","Mentorship","Program","started","By","CampusX",sep='-')

Data-Science-Mentorship-Program-started-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [ ]:
cel = int(input("enter temperature in celcius:"))
fer = cel*(9/5)+32
print("temperature in fahrenheit is", fer)

enter temperature in celcius:36
temperature in fahrenheit is 96.8

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [ ]:
num1 = int(input("enter 1st number"))
num2 = int(input("enter 2nd number"))
temp = None
print("first number is ",num1,"2nd number is ",num2)
temp = num1
num1 = num2
num2 = temp
print("after swap")
print("first number is",num1,"2nd number is ",num2)

enter 1st number10
enter 2nd number23
first number is  10 2nd number is  23
after swap
first number is 23 2nd number is  10

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [ ]:
x1 = int(input("Enter 1st x cordinate"))
y1 = int(input("Enter 1st y cordinate"))
x2 = int(input("Enter 2nd X cordinate"))
y2 = int(input("Enter 2nd y cordinate"))

ecd_distance = (x2-x1)*2+(y2-y1)*2
print("euclidean distance between 2 co-ordinates are: ", ecd_distance)

Enter 1st x cordinate10
Enter 1st y cordinate11
Enter 2nd X cordinate22
Enter 2nd y cordinate32
euclidean distance between 2 co-ordinates are:  66

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [ ]:
p = int(input("Enter principal amount"))
t = int(input("Enter time in months"))
r = int(input("Enter rate of interest"))
sim_interest = (p*t*r)/100
print("simple interest is: ",sim_interest)

Enter principal amount10000
Enter time in months12
Enter rate of interest10
simple interest is:  12000.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [3]:
heads = int(input("Enter total number of heads"))
legs = int(input("Enter total number of legs"))
dogs = 0
chicken = 0

for i in range(0,heads,2):
  legs = legs-4
  dogs += 1
  legs = legs-2
  chicken += 1
print("number of dogs is :",dogs,"number of chickens is: ", chicken)

Enter total number of heads3
Enter total number of legs12
number of dogs is : 2 number of chickens is:  2

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [ ]:
n = int(input("enter the value of n"))
sum_square = (n*(n+1)*(2*n+1))/6
print("sum of squares of first ",n," natural number is: ",sum_square)

enter the value of n10
sum of squares of first  10  natural number is:  385.0

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [ ]:
a = int(input("enter the 1st term of AP"))
b = int(input("enter the 2nd term of AP"))
n = int(input("enter the nth term of AP"))
d = b-a
nth_term = a+(n-1)*d
print("nth term of series is ",nth_term)

enter the 1st term of AP1
enter the 2nd term of AP3
enter the nth term of AP20
nth term of series is  39

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [ ]:

x1 = int(input("Enter numerator of 1st fraction"))
y1 = int(input("Enter denominator of 1st fraction"))
x2 = int(input("Enter numerator of 2nd fraction"))
y2 = int(input("Enter denominator of 1st fraction"))

num = (x1*y2)+(x2*y1)
deno = y1*y2

print("sum of 2 fraction is: ",num,"/",deno)

Enter numerator of 1st fraction2
Enter denominator of 1st fraction10
Enter numerator of 2nd fraction3
Enter denominator of 1st fraction10
sum of 2 fraction is:  50 / 100

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [ ]:
import math
ht = int(input("Enter height of tank"))
lt = int(input("Enter length of tank"))
bt = int(input("Enter breadth of tank"))
hg = int(input("Enter height of glass"))
rg = int(input("Enter radius of glass"))

volume_tank = ht*lt*bt
volume_glass = math.pi*rg**2*hg
print("number of glasses of milk obtained from tank is: ", math.ceil(volume_tank/volume_glass))

Enter height of tank20
Enter length of tank20
Enter breadth of tank20
Enter height of glass3
Enter radius of glass1
number of glasses of milk obtained from tank is:  849